//main-colors
$color-bg: #123; //example
$color-fg: #c0c0c0; //example

//social-colors
$vk-color: #4a76a8;
$fb-color: #3b5998;
$insta-color: #c32aa3;
$youtube-color: #ff0000;
$twitter-color: #1da1f2;
$telegram-color: #2ca5e0;
$github-color: #000000;
