include ../_includes/config.pug
doctype html

html(lang=config.lang)
	head
		//- block meta for local page config
		block meta
		include ../_includes/head.pug
		
	body
		block content
			//- delete this
			h1 Greeting phrase
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, quas!

		include ../_includes/scripts.pug