//- project config 

-
	var config = {
		lang: 'en',
		title: 'Blank project',
		description: 'Project description',
		color: '#202225',
		page: {
			title: '',
			description: '',
		},
		og: {
			title: 'open graph title',
			image: 'open graph image',
		},
		imgPath: '/img/',
	};

include mixins.pug