//- project config 

-
	var config = {
		lang: 'ru',
		title: 'Project title here',
		description: 'Project description here',
		color: '#202225',
		og: {
			title: 'open graph title',
			image: 'open graph image',
		},
		twitter: {
			creator: '@kikeldmitry',
			site: '@kikeldmitry',
		},
	};

include mixins.pug