section#greeting
	h1 Hi!
	button(type="button") whaaaat?
	p Some subtitle long (or not), 
		strong important 
		i (or not) 
		| bullshit
section#firstly
	h2 Firstly
	ol 
		li
			p Delete import and include in 
			pre  ./src/scss/main.scss
			pre  ./src/pug/index.pug
		li
			p Optionally delete files:
			pre ./src/scss/lets-start.scss
			pre ./src/pug/_includes/letsStart.pug
			pre ./src/js/letsStart.js

section#enjoy
	h2 Enjoy!
