extends _layout/base.pug

block meta
	- config.page.title = 'Home page';
	- config.page.description = 'Home page description';

block body
	//- cut line (remove all above, include this line)
	style.
		h1 {
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
			text-align:center;
			font-size:3rem;
			font-family:monospace;
			font-style:italic;
			line-height:1;
			display:flex;
			justify-content:center;
			gap:.5em;
		}
		h1 span {
			padding: 0 .14em;
			flex: 0 0 .5em;
			text-shadow:-1px -1px 1px #000;
		}
		h1 span:first-child {
			color:var(--color-bg);
			background:var(--color-fg);
		}
	h1
		each word in config.title.split(' ')
			span #{word}
