extends _layout/base.pug

block meta
	- config.page.title = 'Home page';
	- config.page.description = 'Home page description';

block body
	//- delete this
	h1 Greeting phrase
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, quas!
