extends layout/base.pug
block meta
    -
        var page = {
            title: 'Welcome, stranger!',
            description: 'It is description, stranger',
            noIndex: false,
            og: {
                title: 'local open graph title',
                url: 'local open graph url',
                image: 'local open graph image',
            }
        };
    //- - var pageTitle = 'Welcome, stranger';
    //- - var pageDescription = 'It is description, stranger';
    //- - var noIndex = false;