extends ./layout/base.pug
block meta
    //- +page('page title', 'page description', false, 'open graph title', 'open graph url', 'open graph image', 'twitter creator')
    //- -
    //-     var page = {
    //-         title: 'hello',
    //-         og: {
    //-             title: 'og title',
    //-         },
    //-         twitter: {
    //-             creator: 'twitter creator'
    //-         }
    //-     }