//- project config 

-
    var project = {
        lang: 'ru',
        name: 'Gulp project',
        color: '#202225',
        og: {
            title: 'open graph title',
            url: 'open graph url',
            image: 'open graph image',
        }
    };

include mixins.pug