:root {
	--color-bg: #{$color-bg};
	--color-fg: #{$color-fg};
}
body {
	background: $color-bg;
	color: $color-fg;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0.02em;
}