$font-path: "/fonts/";
$font-list: (
	("Roboto-Thin", 100, normal),
	("Roboto-ThinItalic", 100, italic),
	("Roboto-Light", 300, normal),
	("Roboto-LightItalic", 300, italic),
	("Roboto-Regular", normal, normal),
	("Roboto-RegularItalic", normal, italic),
	("Roboto-Medium", 500, normal),
	("Roboto-MediumItalic", 500, italic),
	("Roboto-Bold", 700, normal),
	("Roboto-BoldItalic", 700, italic),
	("Roboto-Black", 900, normal),
	("Roboto-BlackItalic", 900, italic)
);

@each $name, $weight, $style in $font-list {
	@font-face {
		font-family: "Roboto";
		src: url($font-path + 'roboto/' + $name + ".woff2") format("woff2"), url($font-path + $name + ".woff") format("woff");
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}