body {
	width: 100%;
	height: 100%;
	// min-height: 100vh;
	overflow: auto;
	letter-spacing: 0;
}
section {
	$colors: (
		0: $color-bg,
		1: tomato,
		2: blue,
	);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	&#greeting {
		background-color: inherit;
		// background-image: linear-gradient(to bottom, $color-bg, lighten($color-bg, 10%));
	}
	&#firstly {
		background-image: linear-gradient(to bottom, $color-bg, lighten($color-bg, 20%), $color-bg);
		// background-image: linear-gradient(to bottom, $color-bg, map-get($colors, 1));
	}
	&#enjoy {
		// background-image: linear-gradient(to bottom, $color-bg, white, red);
		background-color: inherit;
		// background-image: linear-gradient(to bottom, map-get($colors, 1), map-get($colors, 2));
	}
}
h1 {
	font-weight: 900;
	transition: all 400ms;
}
h2 {
	font-weight: 700;
	margin-bottom: 1em;
}
p {
	padding: 0 10px;
}
ol, ul {
	text-align: left;

	p {
		margin: 0;
	}
}
button {
	padding: 4px 8px;
	margin: 1em auto;
	background-color: $color-fg;
	color: $color-bg;
	border-radius: 5px;
	font-weight: 700;
	transform: scaleY(0);
	transform-origin: top center;
	transition: transform 500ms;

	&.visible {
		transform: scaleY(1);
	}
}